* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #080808;
}

body .container .section-1 {
  width: 100%;
  height: 100vh;
  background-image: url(./rasimlar/rrrrr.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

body .container .section-1 .header {
  padding: 20px 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .section-1 .header .header-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

body .container .section-1 .header .header-type p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #676767;
}

body .container .section-1 .header .header-type p:hover {
  color: #FFFFFF;
  cursor: pointer;
}

body .container .section-1 .aside h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 8 0px;
  text-align: center;
  color: #FFFFFF;
}

body .container .section-1 .aside h1 span {
  width: 436.81px;
  height: 128.86px;
  left: 732.62px;
  top: 159.97px;
  background: #FF0000;
}

body .container .section-1 .aside p {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #C2C2C2;
}

body .container .section-1 .aside .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 110px;
}

body .container .section-1 .aside .menu p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #676767;
}

body .container .section-1 .aside .menu p:hover {
  cursor: pointer;
  color: #FFFFFF;
}

body .container .section-1 .aside .menu .big-img img {
  width: 800px;
  height: 370px;
}

body .container .section-2 {
  padding: 20px 120px;
}

body .container .section-2 .speed {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .section-2 .speed p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  position: relative;
}

body .container .section-2 .speed img {
  position: relative;
}

body .container .section-2 .speed .speed-degre {
  padding: 45px 22px;
  gap: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 250px;
  width: 445px;
  height: 145px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-21.07%, rgba(255, 255, 255, 0.16)), color-stop(120.5%, rgba(255, 255, 255, 0.02)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.16) -21.07%, rgba(255, 255, 255, 0.02) 120.5%);
  border-radius: 70px 0 70px 0px;
}

body .container .section-2 .speed .speed-degre p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #C2C2C2;
}

body .container .section-2 .speed .speed-degre h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}

body .container .section-2 .speed .cartrail {
  position: absolute;
  left: 0;
  top: 500px;
}

body .container .section-2 .car-rusum {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .section-2 .car-rusum .car-type {
  margin-top: 150px;
}

body .container .section-2 .car-rusum .car-type p {
  position: relative;
  font-style: normal;
  font-weight: 800;
  font-size: 39px;
  line-height: 50px;
  color: #FFFFFF;
}

body .container .section-2 .car-rusum .car-type button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  width: 200px;
  height: 60px;
  background-color: #FF0000;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  position: relative;
  border: none;
}

body .container .section-2 .car-rusum .car-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .section-2 .car-rusum .car-types .box-2 {
  margin: 20px;
  width: 244.94px;
  height: 237.27px;
  left: 717.76px;
  top: 1239.27px;
  background: linear-gradient(135.78deg, #FF4E63 -8.21%, #B90712 114.35%);
}

body .container .section-2 .car-rusum .car-types .box-2 img {
  padding: 59px 30px 10px 30px;
}

body .container .section-2 .car-rusum .car-types .box-2 p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

body .container .section-2 .car-rusum .car-types .box-3 {
  margin: 20px;
  width: 244.94px;
  height: 217.27px;
  left: 717.76px;
  top: 1239.27px;
  background-color: #080808;
  border: 1px solid gray;
}

body .container .section-2 .car-rusum .car-types .box-3 img {
  padding: 49px 30px 10px 10px;
}

body .container .section-2 .car-rusum .car-types .box-3 p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

body .container .section-2 .car-rusum .car-types .box-5 {
  width: 244.94px;
  height: 237.27px;
  left: 717.76px;
  top: 1239.27px;
  background-color: #080808;
  border: 1px solid gray;
}

body .container .section-2 .car-rusum .car-types .box-5 img {
  padding: 59px 50px 10px 50px;
}

body .container .section-2 .car-rusum .car-types .box-5 p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

body .container .section-2 .car-rusum .car-types .box-6 {
  margin-top: 20px;
  width: 244.94px;
  height: 217.27px;
  left: 717.76px;
  top: 1239.27px;
  background-color: #080808;
  border: 1px solid gray;
}

body .container .section-2 .car-rusum .car-types .box-6 img {
  padding: 49px 50px 10px 50px;
}

body .container .section-2 .car-rusum .car-types .box-6 p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

body .container .section-3 .future .future-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .section-3 .future .future-car img {
  top: 1500px;
  position: absolute;
}

body .container .section-3 .future .future-car :nth-child(2) {
  top: 1640px;
}

body .container .section-3 .future .future-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 200px;
  margin-top: 50px;
}

body .container .section-3 .future .future-type h2 {
  position: relative;
  margin-left: 450px;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 70px;
  color: #FFFFFF;
}

body .container .section-3 .future .future-type p {
  position: relative;
  margin-top: 30px;
  margin-left: 800px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #676767;
}

body .container .section-3 .future .future-type p:hover {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: #FFFFFF;
}

body .container .section-3 .future .future-type span {
  display: block;
  position: relative;
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  margin-left: 800px;
  color: #FFFFFF;
}

body .container .section-4 .car-types {
  position: absolute;
  top: 1900px;
  right: 0;
}

body .container .section-4 .customrs h2 {
  margin-top: 300px;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
}

body .container .section-4 .customrs-row {
  gap: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 110px;
}

body .container .section-4 .customrs-row .customrs-row-1 img {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
}

body .container .section-4 .customrs-row .customrs-row-1 p {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #C2C2C2;
}

body .container .section-4 .customrs-row .customrs-row-1 button {
  margin-bottom: 30px;
  margin-top: 20px;
  width: 200px;
  height: 60px;
  background-color: #FF0000;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  position: relative;
  border: none;
}

body .container .section-4 .customrs-row .customrs-row-2 img {
  margin-right: 90px;
  width: 300px;
  height: 500px;
}

body .container .section-4 .customrs-row .customrs-row-3 h4 {
  margin-top: 30px;
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 70px;
  color: #FFC700;
}

body .container .section-4 .customrs-row .customrs-row-3 p {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

body .container .section-4 .customrs-row .customrs-row-3 h3 {
  margin-top: 30px;
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 70px;
  color: #FF00E5;
}

body .container .section-4 .animation img {
  position: absolute;
  left: 0;
  top: 2700px;
}

body .container .section-5 .big-carr {
  margin-top: 150px;
}

body .container .section-5 .big-carr img {
  width: 100%;
  height: 100%;
}

body .container .fotter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 120px;
  gap: 60px;
}

body .container .fotter .card-1 p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  color: #C2C2C2;
}

body .container .fotter .card-2 h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

body .container .fotter .card-2 p {
  margin-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  color: #C2C2C2;
}

body .container .fotter .card-3 h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

body .container .fotter .card-3 p {
  margin-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  color: #C2C2C2;
}

body .container .fotter .card-4 h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

body .container .fotter .card-4 p {
  margin-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  color: #C2C2C2;
}

body .container .fotter .card-5 h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

body .container .fotter .card-5 img {
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */